*{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}
.App {

  text-align: center;

}



.myform{

  border: 1px solid #52525B;

  background-color: #cccccc;
  padding-left: 10px;
  font-size: 12px;

}





.main-container{

  margin-top:40px;
  margin-bottom: 40px;
  box-shadow: 8px 10px 8px #52525B;
  padding: 0px;

}

.contact-header{

  background-color: #000033;

  height: 36px;

  color: white;

  font-size: 15px;


  margin: 0px;

  padding: 10px;



}
.contact-toolbar{

  background-color: #52525B;

  height: 34px;

  padding-left: 5px;

  color: white;

}
.saveicons{
  margin: 2px;
  padding: 2px;
  margin-top: 5px;
 
  }

  .deleteicons{
    margin: 2px;
    padding: 2px;
    margin-top: 5px;
   
    }

    .togglecontrol {
      margin-left: 100px;
       padding: 5px;
       margin-top: -25px;
       display: inline-block; 
       position: relative;
     
        
     }

    

     .namemargin,h5 {
      font-size: 1.25rem;
      margin-top: 15px;
    }

     .container myform{
      font-size: 12px;
    }

    
.homephn {
  width: 100px;
  
}

.mobileno {
  width: 100px;
  margin-left:-70px;
 
}
.businessphn {
  width: 100px;
  margin-left:-138px;
}

.extension{
  width: 50px;
  margin-left:-203px;
}
.faxno{
  width: 100px;
  margin-left:-225px;

}
.city{
  width: 150px;
  margin-left: 20px;
}
.province{
  width: 150px;
  margin-top: 10px;
  margin-left: 20px;
}

.contry{
  width: 150px;
  margin-left: -150px;
}
.postalcode{
  width: 150px;
  margin-left: -150px;
  margin-top: 10px;
}
.email{
  margin-top: 10px;
}


  .form-check-box {
  margin-top: 5px;
  margin-left: 2.25rem;

}

.form-check-residence{
  margin-top: 2px;
  margin-left: 25px;


}


.usericon-align{

  margin-top: 5px;

  margin-left: -25px;

}

.edit_ico {
  margin: 6px;
  padding: 2px;
}


.align-residence{

  margin-top: 25px;
  margin-left: 10px;


}

.align-deceased{
margin-top: 30px;

}

.icons-align{

  margin-top: 0px;

  margin-left: -40px;
  padding:  2px 0 0 30px;
  
  

}


.custom-form-input{

  margin-bottom: 0px!important;

}



.scroll-table{

  max-height: 150px;

  overflow-y: scroll;

}




.table td{

  min-height: 49px;

}



.form-checkbox-align{

  margin-bottom: 20px;

  

}

.checkbox{
  margin-left: 5px;
    margin-top: 2px;
}

table{
  margin:0px;
  padding:0px;
}
th:first-child {
  width:50px;
}
td:first-child
{
   
    width:50px;

}

td:nth-child(3){
  width:100px;
}

thead{
   background-color: rgba(0,0,0, 0.16); 
}


input[checkbox]{
  transform: scale(2); 
 
}

table input[type=checkbox]{
  transform: scale(0.8); 
 
}
.form-check-input {
  width: 20px !important;
  height: 20px !important;
  margin-top: -0.2rem;
  margin-left: 0px;

}


  .plusicon{
    
    padding: 2px;
  }

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #e9ecefc7;
}

.togglespan{
  padding-top: 3px;
  display: inline-block;
}

.toggleupperspace{
  padding-top:25px;
}
.labelposition{
  margin-right: 8px;
}
.table thead th{
  vertical-align: initial;
}

.form-check-align{
  padding-left: 0.8rem;
}